html, body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  background: #efefef;
}

.button {
  background: rgba(255, 255, 255, 0.4);
  color: #000000;
  font-size: 30px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: solid 1px #000000;
  padding: 0;
  margin: 0;
  text-align: center;
  display: block;
  text-decoration: none;
  border-radius: 30px;
  position: absolute;
}

.arrows {
  font-size: 20px;
  line-height: 27px;
}

#game_canvas {
  background: #ffffff;
  width: 640px;
  height: 360px;
  float: left;
  position: absolute;
  top: calc(50% - 180px);
  left: calc(50% - 320px);
}

#score_table {
  background: rgba(255, 255, 255, 0.4);
  border-collapse: collapse;
  position: absolute;
  top: calc(50% - 175px);
  left: calc(50% - 315px);
}

#pause_button {
  line-height: 32px;
  top: calc(50% - 175px);
  left: calc(50% + 285px);
}

#left_button {
  top: calc(50% + 145px);
  left: calc(50% - 317px);
}

#right_button {
  top: calc(50% + 145px);
  left: calc(50% + 285px);
}

#score_table > thead th,
#score_table > tbody td,
#score_table > tbody th {
  border: solid 1px #000;
  padding: 5px 10px;
  text-align: left;
}
